body
{
    background-color: rgb(200, 220, 238);
}

.container
{
    height: 200px;
    width: 200px;
}

#blue
{
    border: 10px solid black;
    background-color: rgb(112, 178, 195);
    padding: 20px;
    text-align: justify;
}

#yellow
{
    background-color: rgb(215, 215, 12);
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}

#red
{
    background-color: rgb(146, 52, 52);
    border: 10px solid black;
    margin-left: 40px;
}