#red
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(162, 24, 24);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

#heading
{
    color: white;
    font-size: 5em;
}

#blue
{
    background-color: rgb(25, 25, 134);
    height: 50%;
    width: 100%;
    position: absolute;
    top: 25%;
}

#center
{
    background-color: white;
    height: 50%;
    width: 17%;
    border-radius: 100%;
    font-size: 3em;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    left: 41.5%;
    top: 25%;
}