#blue
{
    background-color: blue;
    height: 60vh;
    width: 70vw;
    position: relative;
    left: 15vw;
    top: 20vh;
}

#red{
    background-color: red;
    width: 27vw;
    height: 40vh;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 80%;
}
